[submodule "deps/xutil"]
	path = deps/xutil
	url = https://akzi:niukey126@github.com/akzi/xutil.git
[submodule "deps/xjson"]
	path = deps/xjson
	url = https://akzi:niukey126@github.com/akzi/xjson.git
[submodule "deps/xnet"]
	path = deps/xnet
	url = https://akzi:niukey126@github.com/akzi/xnet.git
[submodule "deps/xtest"]
	path = deps/xtest
	url = https://akzi:niukey126@github.com/akzi/xtest.git
[submodule "deps/xlog"]
	path = deps/xlog
	url = https://akzi:niukey126@github.com/akzi/xlog.git
